---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -readability-implicit-bool-conversion,
  -bugprone-easily-swappable-parameters,
  -hicpp-braces-around-statements,
  -hicpp-special-member-functions,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-init-variables,"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
